body{
  background-color: #0F2B51;
  background-image: url('backgroundimage.jpg');
  overflow-x:hidden;
  max-width:100%;
  left:0;
  margin: 0;
  gradient: .5;
  color: #ffffff;
}

/*index*/

.container{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
#index{
  width: 100%;
  left:0;
  right: 0;
  height:300px;
  background-size:cover;
  z-index:-1;
  padding-top:50px;
  overflow-x:hidden;
  padding-bottom: 0;
  margin-bottom: 0;
}

#index h1{
  color: #F4B033;

  font-size: 100px;
  margin: 0 auto;
  font-family: 'Black Ops One', cursive;
  text-align: center;
  padding-top: 50px;
}



#index h2{
  font-size: 30px;
  margin:0;
  font-family: 'Bungee', cursive;
  text-align: center;
}

/*.portfolio-area.top{
  color:white;
  opacity: .90;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  color: white;
  height: 30px;
  z-index: 20;

}*/

#Nav{
  color: black;
  font-size: 20px;
  height: 30px;
  width: 100%;
  position: fixed;
  /*opacity: .90;*/
  background-color: #C6983E;

}
span{
  color: #F4B033;

}
span1{
  color: #F4B033;
}






/*About Me*/

#aboutme {
  text-align:center;
  margin-bottom: 50px;
  /*padding-top: 0px;
  background-size: cover;
  color: bold purple;
  font-family: 'arial bold';
  font-size: 20px;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin-top: 0px;
  height:500px;
  z-index:-1;
  text-align:center;
  padding-bottom: 0px;
  margin-bottom: 0px;*/
}
h4{
  font-size: 70px;
  text-align: center;
}

#aboutme h1 {
  font-size: 30px;
  padding-bottom: 20px;
  text-align: center;
}

#aboutme h2{
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
}
#aboutme h3{
  font-size: 30px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.portfolio-area.me{
  opacity:.50;
  height:100vh;
  width:740px;
  margin-left: 230px;
  top:0;
}


.links{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
  font-size:20px;
}




/*Projects*/

#row{
  display: inline-block;
  max-width: 100%;
}

#projects{
  left:0;
  right:0;
  margin-bottom:0;
  font-size: 20px;
  color: #e8f6fd;
  margin-top: 0px;
  padding-top: 0px;
}

#projects  h1{
  padding-bottom: 50px;
  color: #F4B033;
  display: flex;
  justify-content: center;
  font-size: 50px;
  text-decoration: underline;
  margin-top: 0px;
  padding-top: 0px;


}
#projects p{
  text-align: center;
  height: 328px;
  width: 500px;
  max-width: 100%;

}

#projects img{
  margin-bottom: 20px;
  border-radius: 30px;
  width: 500px;
  height: 328px;
  border: 5px solid #F4B033;
  max-width: 100%;
}

/*contact page*/

#contact {
  width: 100%;
  font-size: 15px;
  height: 300px;
  padding-top: 135px;
  color: #F4B033;
  text-align: center;
}
#contact h1{
  font-size: 20px;
}

#social a{
  color: #F4B033;
}
#social i{
  color: #F4B033;
  display: inline-block;
}



.row.col-md-6{
  border: Solid #004466 10px;
  max-width: 100%;
}
col-md-12{
  margin-top: 0px;
  padding-top: 0px;
}
